

.page_remote_container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.9fr 0.1fr 1fr 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .green_remote { grid-area: 2 / 2 / 5 / 5; }
  
  .red_remote { grid-area: 2 / 6 / 5 / 9; }
  
  .this_team_score { 
    grid-area: 3 / 3 / 9 / 10;
    border: 1px solid black; 
}
.remote_undo_button { grid-area: 11 / 3 / 17 / 10; }
.opposing_team_score { 
    border: 1px solid black; 
    grid-area: 3 / 12 / 9 / 19; 
  }
  .remote_reset_button { grid-area: 11 / 12 / 17 / 19; } 
  .transmitting_led { grid-area: 19 / 4 / 21 / 19; }
  